<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=.\SQLEXPRESS;Database=Task;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Define o namespace a ser mapeado pelo fluent-->
    <add key="NAMESPACE" value="Alfa.Task.Entity"/>
    <!--Define o assembly a ser mapeado pelo fluent-->
    <add key="ASSEMBLY" value="Alfa.Task"/>
    <!--Define o path de configuração do castle-->
    <add key="CASTLE" value="config\castle.config"/>
    <add key="ENVIRONMENT" value="WINDOWS"/>
    <!-- WINDOWS, WEB-->
  </appSettings>
 
  <startup>
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
