<?xml version="1.0" encoding="utf-8" ?>
<castle>

  <components>
    <component id="produto" service="Alfa.Pet.Model.Services.CadastroService, Alfa.Pet.Model" type="Alfa.Pet.Model.Services.CadastroService, Alfa.Pet.Model" lifestyle="transient"/>
    <component id="unitOfWork" service="Alfa.Core.Unit.IUnitOfWork, Alfa.Core" type="Alfa.Core.Unit.UnitOfWork, Alfa.Core" lifestyle="transient"/>

  </components>
</castle>